In [ ]:
import os
os.environ["PGPASSFILE"] = "/home/jywang/..pgpass"

In [3]:
import wrds
db = wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [2]:
from pathlib import Path
from datetime import datetime

data_dir = "../data/wrds"
Path(data_dir).mkdir(parents=True, exist_ok=True)

In [3]:
import pyarrow.dataset as ds
import pandas as pd

In [4]:
stocknames = pd.read_parquet("/home/jywang/project/QFRsch/data/metadata/stocknames.parquet")
stocknames.head()

,permno,ticker,comnam,namedt,nameenddt,hexcd,siccd
0,10000,OMFGA,OPTIMUM MANUFACTURING INC,1986-01-07,1987-06-11,3,3990
1,10001,GFGC,GREAT FALLS GAS CO,1986-01-09,1993-11-21,2,4920
2,10001,EWST,ENERGY WEST INC,1993-11-22,2008-02-04,2,4920
3,10001,EWST,ENERGY WEST INC,2008-02-05,2009-08-03,2,4920
4,10001,EGAS,ENERGY INC,2009-08-04,2009-12-17,2,4920

In [5]:
prices_df = pd.read_parquet("/home/jywang/project/QFRsch/test/data/market_prices/market_prices.parquet")
prices_df.head()

,permno,date,prc,vol,ret,shrout,openprc,askhi,bidlo,cfacpr,cfacshr,dlret,dlstcd,exchcd,shrcd,ret_adj,adj_close,mkt_cap
0,10001,2004-12-31,6.9,8775.0,0.053918,2599.0,6.682,7.05,6.5,1.5,1.5,0.0,<NA>,3,11,0.053918,4.600,17933100.0
1,10002,2004-12-31,24.61,14410.0,0.014427,11021.0,24.13,24.61,23.89,1.0,1.0,0.0,<NA>,3,11,0.014427,24.610,271226810.0
2,10012,2004-12-31,1.03,10097770.0,0.471429,23732.0,1.101,1.23,0.97,1.0,1.0,0.0,<NA>,3,11,0.471429,1.030,24443960.0
3,10025,2004-12-31,14.75,16926.0,0.006826,8405.0,14.64,14.83,14.59,1.0,1.0,0.0,<NA>,3,11,0.006826,14.750,123973750.0
4,10026,2004-12-31,49.03,13961.0,0.005744,9022.0,48.1,49.05,48.08,2.0,2.0,0.0,<NA>,3,11,0.005744,24.515,442348660.0

In [6]:
prices_df = pd.read_parquet("/home/jywang/project/QFRsch/test/data/market_prices/year=2024/data.parquet")
prices_df.head()

,permno,date,prc,vol,ret,shrout,openprc,askhi,bidlo,cfacpr,cfacshr,dlret,dlstcd,ret_adj,adj_close,mkt_cap
0,10026,2024-01-02,168.86,89969.0,0.010291,19367.0,165.97,168.98,165.97,1.0,1.0,0.0,<NA>,0.010291,168.86,3270311620.0
1,10028,2024-01-02,4.71,18599.0,-0.030864,26700.0,4.88,4.95,4.71,1.0,1.0,0.0,<NA>,-0.030864,4.71,125757000.0
2,10032,2024-01-02,106.35,78780.0,-0.016462,27504.0,106.36,108.355,100.37,1.0,1.0,0.0,<NA>,-0.016462,106.35,2925050400.0
3,10044,2024-01-02,4.94,7736.0,0.073913,6304.0,4.69,4.94,4.585,1.0,1.0,0.0,<NA>,0.073913,4.94,31141760.0
4,10065,2024-01-02,17.45,235208.0,-0.014681,120810.0,17.6,17.6499,17.33,1.0,1.0,0.0,<NA>,-0.014681,17.45,2108134500.0